body {
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom right, #ffe6cc, #ecf3aa);
  }
  
  #titulo {
    text-align: center;
    color: #f98b15;
    margin-bottom: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0b576;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #f98b15;
  }
  
  .grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .grid-productos div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .grid-productos img {
    width: 100%;
    border-radius: 10px;
  }
  
  h3 {
    margin: 10px 0 5px;
    font-family: 'Lexend', sans-serif;
  }
  
  p {
    margin: 5px 0 10px;
    font-weight: bold;
  }


  .carrito-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  #totalCarrito {
    font-weight: bold;
    margin-top: 10px;
  }
  